:root {
  --background-colour: linear-gradient(
    180deg,
    #000702 0%,
    #010f06 53.36%,
    #000f07 100%
  );
  --white-500: #f0f0f0;
  --white-700: #e5eeffb3;
  --accent-colour: #f5c000;
  --body-font: "Nunito", sans-serif;
  --main-font-family: "Libre Franklin", sans-serif;
}

body {
  word-spacing: 2px;
  font-family: var(--body-font);
  background: var(--background-colour);
  color: var(--white-500);
  text-align: justify;
}
h1,
h2 {
  font-weight: 300;
}

h1 {
  font-family: var(--main-font-family);
  font-size: 2rem;
}

h2 {
  font-size: 1.125rem;
}

ul {
  padding: 0;
}

a,
li a:hover,
nav a.active,
.social-links:hover,
p .bold {
  color: var(--white-500);
}
.project-description,
.social-links,
p.main-text,
div.footer,
nav a {
  color: var(--white-700);
}
.project-title:hover,
a.custom-button,
h1 {
  color: var(--accent-colour);
}

a,
img.project-image {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

a:hover,
a.custom-button:hover {
  cursor: pointer;
}
i.external-link {
  margin-left: 6px;
  font-size: 0.875rem;
}
img.project-image,
img.project-image:hover {
  border: 3px solid var(--white-700);
  border-radius: 6px;
}

img.project-image {
  display: block;
  margin: 0 auto;
  width: 27.3vw;
}

a.custom-button {
  width: fit-content;
  font-size: 1.125rem;
  padding: 16px 18px;
  border: 1px solid var(--accent-colour);
  border-radius: 8px;
}

a.custom-button:hover {
  box-shadow: 0.3em 0.3em 0 0 var(--accent-colour);
}

p .bold {
  font-weight: bold;
}

p.main-text {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2;
}
div.footer {
  font-weight: 100;
  padding: 30px 0;
}
nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 60px;
}
nav a {
  margin-left: 10px;
}
.bg-dark {
  background-color: var(--background-colour) !important;
  color: var(--white-500) !important;
}

.social-links {
  font-size: 3rem;
  margin-right: 26px;
}

.icon {
  font-size: 1.75rem;
}

.contact-page {
  padding: 50px 30px 250px 30px;
  margin-top: 20px;
}

.project-title {
  font-size: 1.125rem;
  margin-bottom: 16px;
}

nav li,
.project-description {
  font-size: 1rem;
}
.samira-pic {
  max-height: 500px;
}

.project:not(:last-child) {
  margin-bottom: 3.25rem;
}
.coder {
  max-height: 60px;
}
@media (max-width: 350px) {
  nav li {
    font-size: 11px;
    line-height: 35px;
  }
  .coder {
    max-height: 35px;
  }
}

@media (max-width: 950px) {
  h4,
  h2 {
    text-align: center;
  }
  h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  h1 {
    display: flex;
    justify-content: center;
    line-height: 2;
    font-size: 1.8rem;
  }

  .career p,
  .project-description,
  nav li {
    font-size: 14px;
  }
  p.project-description,
  ul.social-icons {
    justify-content: center !important;
  }

  a.custom-button {
    margin: 12px auto 0px;
  }

  img.project-image {
    width: 90%;
  }

  h3.project-title {
    padding: 10px 0 0 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

  div.footer {
    padding: 10px;
    text-align: center !important;
  }

  p.main-text {
    padding: 0 20px;
  }
  .samira-pic {
    display: block;
    margin: 0 auto;
  }
  .career p {
    padding-left: 0;
    text-align: justify !important;
    line-height: 2;
  }
}

@media (min-width: 950px) {
  h1 {
    margin-top: 20px;
  }

  .fixed {
    position: fixed;
  }
  p.main-text {
    text-align: justify;
  }
}
